
<div class="module hidden" id="module3">
    <div class="module-head">
        <div class="module-head-wrapper">
            <div class="head-title">
                <h1>Test Module</h1>
            </div>
            <div class="head-inputs">
                <form>
                    <input class="head-input-item" type="text"placeholder="search...">
                    <button class="head-input-item btn btn-inverse">GO</button>
                </form>
            </div>
        </div>
    </div>
    <div class="testmodule-body module-body">
        <div class="hidden module-body-wrapper">
            <h2> These camera buttons don't work yet.</h2>
            <ul class='getimage-tabs'>
                <li><a class='getimage-tab' href='#camera1-tab'>Camera</a></li>
                <li><a class='getimage-tab' href='#focus1-tab'>Focus</a></li>
                <li><a class='getimage-tab' href='#rotate1-tab'>Rotate</a></li>
            </ul>
            <div id="camera1-tab">
                <p>camera tab</p>
            </div>
            <div id="focus1-tab">
                <p>focus tab</p>
            </div>
            <div id="rotate1-tab">
                <p>rotate tab</p>
            </div>

        </div>
    </div>
</div>