
<div class="module">
    <div class="module-head">
        <div class="head-title">
            <h1><span style="transition:0.5s;">&#9660;</span> &nbsp;Batch Imaging</h1>
        </div>
        <div class="head-inputs">
            <form action="/command/camera" method="POST" class="form-command" autocomplete="off">
                <div class="head-input-item">
                    <button class="btn btn-outline-success">Begin Imaging Sequence</button>
                </div>
            </form>
        </div>
    </div>

    <div class="module-body">
        <div class="module-body-wrapper">
            <div class="form-group" id="batch-camera-form">

                <table id="batch-camera-table">
                    <thead>
                        <tr>
                            <th>Time(s)</th>
                            <th>Count</th>
                            <th>Delay(s)</th>
                            <th>Filter</th>
                            <th>Bin</th>
                            <th>Dither</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="batch-row">
                            <td style="min-width: 60px;">
                                <input autocomplete="off" class="form-control"  name="time" required="" type="text" value="5">
                            </td>
                            <td style="min-width: 50px;">
                                <input autocomplete="off" class="form-control" form="camerasettings" name="count" type="text" value="1">
                            </td>
                            <td style="min-width: 70px;">
                                <input autocomplete="off" class="form-control" form="camerasettings" name="delay" type="text" value="0">
                            </td>
                            <td style="min-width: 80px;">
                                <select autocomplete="off" class="form-control" name="filter">
                                    <option value="PL">Clear</option><option value="PR">Red</option>
                                    <option value="PG">Green</option><option value="PB">Blue</option>
                                    <option value="S2">S2</option><option value="HA">Hα</option>
                                    <option value="O3">O3</option><option value="N2">N2</option>
                                </select>
                            </td>
                            <td style="min-width: 60px;">
                                <select autocopmlete="off" class="form-control" form="camerasettings" name="bin">
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                            <td style="min-width: 70px;">
                                <select autocomplete="off" class="form-control" form="camerasettings" name="dither">
                                    <option selected="" value="off">off</option>
                                    <option value="on">on</option>
                                    <option value="random">random</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="batch-table-bottom"><td><p id="add-another-batch-row">+ row</p></td></tr>
                    </tbody>
                </table>
                        

            </div>
        </div>
    </div>
</div>



<style>


.batch-row {
    width: 100%;
}
.batch-row td {
    padding-right: 8px;
    padding-bottom: 12px;
}
#batch-table-bottom {
    cursor: pointer;
}

@media (max-width: 475px){
    .batch-row {
        overflow: auto;
    }
}


</style>


<script>

/* TODO: change class when adding rows so each row is uniquely identified. */
    var bottom_row = $('#batch-table-bottom');

    $('#add-another-batch-row').click(function(){
        var batch_row = $('.batch-row').last();
        var cloned_row = batch_row.clone();
        cloned_row.insertBefore(bottom_row);
    })

</script>