
<div class="module" id="module2">
    <div class="module-head">
        <div class="head-title">
            <h1><span>&#9660;</span> &nbsp;Target</h1>
        </div>
        <div class="head-inputs">
            <form id="goto" method="POST" action="/command/go" class="form-command" data-autosubmi>
                <input class="head-input-item" type="text" name="goto-box" id="target-search" placeholder="coordinates [ra,dec]...">
                <button type="submit" class="head-input-item btn btn-success" id="goto-button">GO</button>
            </form>
        </div>
    </div>
    <div class="module-body">
        <div class="module-body-wrapper" id="module-go">
            <div id="object-table">
                <table id="targets-table" class="row-border">
                    <thead>
                        <tr>
                            <td>M</td>
                            <td>Type</td>
                            <td>Mag</td>
                            <td>Ra</td>
                            <td>De</td>
                            <td>Names</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="object-filters" class="container">
                <form id='filter_form' method="POST" action="/apply_table_filters">

                    <div>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="stars">
                        <span class="mdl-switch__label">Stars</span>
                        {{ filter.stars(class_="mdl-switch__input") }}
                        </label>

                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="double_stars">
                        <span class="mdl-switch__label">Double Stars</span>
                        {{ filter.double_stars(class_="mdl-switch__input") }}
                        </label>
                    </div>

                    <div>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="galaxies">
                        <span class="mdl-switch__label">Galaxies</span>
                        {{ filter.galaxies(class_="mdl-switch__input") }}
                        </label>

                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="nebula">
                        <span class="mdl-switch__label">Nebula</span>
                        {{ filter.nebula(class_="mdl-switch__input") }}
                        </label>

                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="globular_clusters">
                        <span class="mdl-switch__label">Globular Clusters</span>
                        {{ filter.globular_clusters(class_="mdl-switch__input") }}
                        </label>

                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="open_clusters">
                        <span class="mdl-switch__label">Open Clusters</span>
                        {{ filter.open_clusters(class_="mdl-switch__input") }}
                        </label>

                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="everything_else">
                        <span class="mdl-switch__label">Everything Else</span>
                        {{ filter.everything_else(class_="mdl-switch__input") }}
                        </label>
                    </div>

                    <div>
                        <span>{{ filter.star_magnitude_min.label }} {{ filter.star_magnitude_min() }}</span>
                        <span>{{ filter.star_magnitude_max.label }} {{ filter.star_magnitude_max() }}</span>
                    </div>
                    <div>
                        <span>{{ filter.dso_magnitude_min.label }} {{ filter.dso_magnitude_min() }}</span> 
                        <span>{{ filter.dso_magnitude_max.label }} {{ filter.dso_magnitude_max() }}</span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    #module-go {
        display: flex;
        flex-direction: column;
        margin: 30px;
        height: auto;
    }
    #filter_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        padding-bottom: 2em;
        margin-bottom: 2em;
        border-bottom: var(--neutral-4) 1px solid;
    }
    #filter_form div{
        padding: 1px;
    }
    .mdl-switch {
        padding-bottom: 30px;
    }
    #filter_form div span{
        display: grid;
        grid-template-columns: 1fr 50px;
    }
    #filter_form input {
        margin-bottom: 8px;
    }
    #object-table {
        padding-bottom: 30px;
    }
</style>