<div class="module" id="module3">
    <div class="module-head">
        <div class="head-title">
            <h1><span style="transition:0.5s;">&#9660;</span> &nbsp;Search</h1>
        </div>
        <div class="head-inputs">
            <form id="query-object" method="POST" action="/simbadquery">
                <input class="head-input-item" type="text" name="query-args" placeholder="name or identifier...">
                <button type="submit" class="head-input-item btn">Search</button>
            </form>
        </div>
    </div>
    <div class="module-body">
        <div class="module-body-wrapper" id=query-body>

            <select form="query-object" name="haswildcards">
                <option value="False">only this object</option>
                <option value="True">with wildcards: *,?,[^abc-z]</option>
            </select>

            <!-- Results Table -->
            <table id="query-result-table">
                <thead>
                    <tr>
                        <th>MAIN_ID</th>
                        <th>RA</th>
                        <th>DEC</th>
                        <th>FLUX_V</th>
                        <th>ID_Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />

            <div id="aladin-lite-div" style="width:auto;height:300px;"></div>
            <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
            <script type="text/javascript">
                var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:60});
            </script>

        </div>
    </div>
</div>

<style>
    #query-body {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: 30px 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #query-result-table{
        grid-row: 2;
        grid-column: 1/2;
        width: 100%;
    }
    #aladin-lite-div {
        margin: 2em;
        grid-row: 2;
        grid-column: 2;
    }
</style>


<script>

$(function() {
    $('#query-object').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            type: 'POST', 
            url:form.attr('action'), 
            data: form.serialize() 
        }).done(function(response) {
            if (response.status == "fail") {
                console.log("Query failed.")
                console.log(response.content);
            }
            if (response.status == "success") {
                console.log("Query succeeded.")
                data = JSON.parse(response.content); 
                console.log(data);

                /* Print results in a table */
                var num_results = (Object.keys(data.ID_m).length);
                for (var i=0; i<num_results; i++) {
                    var row = "<tr><td>"+data.ID_m[i]+"</td><td>"+data.RA_d[i]+"</td><td>"+data.DEC_d[i]+"</td><td"+data.FLUX_V[i]+"</td><td>"+data.ID_name[i]+"</td></tr>";
                    $('#query-result-table tbody').append(row);
                }
            }
        }).fail(function(data, textStatus, errorThrown) {
            console.log("AJAX failed to send search results.");
            console.log(data);
            console.log(textStatus);
            console.log(errorThrown);
        });
    });
});

</script>