
.vscode/
6/
migrations/
*.pyc
__pycache__/
env/
venv/
sandbox/
application/weatherlogs/*.csv
config.ini


databases/astro.db 
databases/hygdata.db 
databases/sac.db 
databases/users.db
databases/data.sql


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
