
<!-- Left side views menu -->
<div class="views-menu">
    <ul class="js-tabs">
        <li class="tab views-tab current" data-tabtype="views" data-tab="viewtab1">sky chart</li>
        <li class="hidden tab views-tab" data-tabtype="views" data-tab="viewtab2">log</li>
        <li class="tab views-tab" data-tabtype="views" data-tab="viewtab3">weather</li>
        <li class="hidden tab views-tab" data-tabtype="views" data-tab="viewtab4">sky cam</li>
        <li class="tab views-tab" data-tabtype="views" data-tab="viewtab5">site</li>
        <li class="tab views-tab" data-tabtype="views" data-tab="viewtab6">images</li>
        <li class="hidden tab views-tab" data-tabtype="views" data-tab="viewtab7">instruments</li>
        <li class="hidden tab views-tab" data-tabtype="views" data-tab="viewtab8">_dev</li>
    </ul>
</div>

<!-- Left side views content -->
<div id="view-size-helper" style="width:100%; height: 100%; position: absolute;">
    


    <!-- Sky Chart -->
    <div id="viewtab1" class="tabs-content views-content current">
        <div class="container" id="celestial-map"></div>
        <div class="container" id="celestial-form" style="display:none;"></div>

    </div>



    <!-- Activity Log -->
    <div id="viewtab2" class="tabs-content views-content">
        schedule log here
    </div>




    <!-- Weather -->
    <div id="viewtab3" class="tabs-content views-content">

        <div id="plot-0"></div>

        <table id="weather-table">
            <td id="wx-col1"> </td>
            <td id="wx-col2"> </td>
        </table>

        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            function plot_weather(){
                $.ajax({
                    url: "plot_weather/W",
                    success: function(the_data) {
                        if (the_data == "no log found") {
                            $('#plot-0').append("No weather log available.");
                        } else {
                            var graphs = JSON.parse(the_data);
                            var ids = ['plot-0', 'plot-1'];

                            for(var i in graphs) {
                                Plotly.newPlot(ids[i], graphs[i].data, graphs[i].layout, {responsive: true});
                            };
                        }
                    },
                    error: function() {
                        $('#plot-0').append("No weather log available.");
                    }
                })
            }
            setInterval(plot_weather(), 10000);
        </script>

        <style>
            #viewtab3.current {
                display: flex;
                flex-direction: column;
            }
            #plot-0 .main-sgv {
                height: 300px;
            }

            #weather-table {
                flex: 1 1 auto;
                margin-top: 20px;
            }
            #weather-table td {
                height: 30px;
            }
            #weather-table th {
                width: 150px;
                text-align: right;
                padding-right: 20px;
            }


            @media (max-width: 700px) {
                #weather-table {
                    display: none;
                }
            }
        </style>



    </div>




    <!-- Allsky Camera -->
    <div id="viewtab4" class="tabs-content views-content">
        all sky camera here
    </div>




    <!-- Dome/Enclosure Camera -->
    <div id="viewtab5" class="tabs-content views-content">
        <div id="dome-cam"></div>
        <div id="dome-buttons-container">
            <h3>Lamp: </h3>
                <button value="off" data-msg="lamp" class="btn btn-secondary button-command">Off</button>
                <button value="on" data-msg="lamp" class="btn btn-primary button-command">On</button>
            <h3>IR Lamp: </h3>
                <button value="off" data-msg="ir-lamp" class="btn btn-secondary button-command">Off</button>
                <button value="on" data-msg="ir-lamp" class="btn btn-primary button-command">On</button>
            <h3>Roof: </h3>
                <button value="close" data-msg="roof" class="btn btn-secondary button-command">Close</button>
                <button value="open" data-msg="roof" class="btn btn-primary button-command">Open</button>
            <h3>Park: </h3>
                <button value="park" data-msg="parking" class="btn btn-secondary button-command">Park</button>
                <button value="unpark" data-msg="parking" class="btn btn-primary button-command">Unpark</button>
        </div>

        <style>

            #viewtab5.current {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: flex-start;
            }

            #dome-cam {
                margin-top: 20px;
                height: auto;
                flex: 1 0 auto;
            }
            #dome-buttons-container {
                flex: 0 0 auto;
                display: grid;
                grid-template-columns: 3fr 2fr 2fr;
                grid-gap: 1em;
                margin-top: 30px;
            }
            #viewtab5 #dome-cam {
                margin-top: 20px;
            }

            @media (max-width: 700px) {
                #dome-cam {
                    width: 100%;
                }
            }
            @media (min-width: 700px) {
                #dome-buttons-container {
                    grid-template-rows: 35px 35px 35px 35px;
                }
            }


        </style>

    </div>


    <!-- Images -->
    <div id="viewtab6" class="tabs-content views-content">
        <div id="image-display-window" style="width:100%; height:100%;">
            <div>
                <img id="displayed-image"></img>
            <div></div>
            <div id="below-displayed-image" style="display: flex; justify-content: space-between;">
                <div>
                    <button id="prev-image" class="btn btn-primary btn-sm">prev</button>
                    <button id="next-image" class="btn btn-primary btn-sm">next</button>
                    <button id="refresh-image" class="btn btn-outline-success btn-sm" style="margin-left: 10px;">refresh</button>
                </div>
                <p id="displayed-image-name" style="margin-right: 20px;"></p>

            </div>
        </div>

    </div>
    <script>

        // Current image displayed
        var cur_img = 0;
        // List of urls (for recent images) that can be viewed.
        var urls = [];
        // Url of the most recent image. Check against ajax value to determine if a newer image is ready.
        var newest_img_url = ""
        var newest_img_name = ""

        function url_to_filename(url) {
            // Assume the url is something similar to:
            // https://ptrtestbucket.s3.amazonaws.com/wmd/postage/3-00009446.jpg?AWSAccessKeyId=AKIAITB4Y...
            // Get the filename as the string that ends before "?" and starts after the closest "/".
            url = url.split('?')[0]
            url = url.split('/').reverse()[0]
            return url
        }

        function get_recent_images() {
            $.ajax({
                type: 'GET',
                url: '/getrecentimages',
            }).done(function(data) {
                // Expect data to be json array of urls of recent jpg images.
                // Urls are sorted like [oldest, ..., newest]. 
                var latest_urls = JSON.parse(data);

                // Check if recent image has changed (compare names, since urls will change each refresh).
                // If names are different, update. Otherwise, we don't change anything.
                if (url_to_filename(latest_urls[latest_urls.length-1]) != newest_img_name) {

                    // Update list of urls and the index of the one currently displayed.
                    urls = JSON.parse(data);
                    cur_img = urls.length - 1;
                    newest_img_url = urls[cur_img];
                    newest_img_name = url_to_filename(newest_img_url);

                    // Update Filename
                    $('#displayed-image-name').text(newest_img_name);

                    var img = $('#displayed-image');
                    var maxheight = $('#view-size-helper').height() - 40;
                    img.attr('style', 'max-height: '+maxheight+'; margin-top: 10px; margin-bottom: 10px;');
                    img.attr('src',newest_img_url);
                    img.attr('class', 'img-fluid image-for-main-display');
                }

            }).fail(function(data) {
                console.log("Failed to retrieve recent images.");
            });
        }

        function next_image() {
            console.log('in next_image');
            cur_img = (cur_img + urls.length + 1) % urls.length;
            $("#displayed-image").attr('src', urls[cur_img])
            $('#displayed-image-name').text(url_to_filename(urls[cur_img]));
            console.log(urls.length);
            console.log(cur_img);
        }
        function prev_image() {
            console.log('in prev_image');
            cur_img = (cur_img + urls.length - 1) % urls.length;
            $("#displayed-image").attr('src', urls[cur_img])
            $('#displayed-image-name').text(url_to_filename(urls[cur_img]));
            console.log(urls.length);
            console.log(cur_img);
        }

        $(document).ready( function() { 
            $('#prev-image').click(prev_image);
            $('#next-image').click(next_image);
            $('#refresh-image').click(get_recent_images);
            setInterval( get_recent_images, 5000 );
        })
        



    </script>



    <!-- Acquired Images/Data (JS9) -->
    <div id="viewtab7" class="tabs-content views-content hidden">
        instruments/images here
        <div class="guiding-display-grid">
            <div class="js9-container" id="guide-container-primary">
                <div class="JS9" id="guideview-primary" data-width="450px" data-height="450px"></div>
            </div>
            <div class="js9-container" id="guide-container-top">
                <div class="JS9" id="guideview-top" data-width="150px" data-height="150px"></div>
            </div>
            <div class="js9-container" id="guide-container-bottom">
                <div class="JS9" id="guideview-bottom" data-width="150px" data-height="150px"></div>
            </div>
            <div class="js9-container" id="guide-container-left">
                <div class="JS9" id="guideview-left" data-width="150px" data-height="150px"></div>
            </div>
            <div class="js9-container" id="guide-container-right">
                <div class="JS9" id="guideview-right" data-width="150px" data-height="150px"></div>
            </div>
        </div>
    </div>



    <!-- Console -->
    <div id="viewtab8" class="tabs-content views-content hidden">
        <form id="textcommand" method="POST" action="/textcommand" data-consolesubmit>
            <br>
            <input type="text" name="console-text" style="height: 30px; width: 400px; padding-left: 5px;">
            <button type="submit" style="height: 30px; width: 100px;">Enter</button>
            <div><br></div>
            <table id="cmd-log" style=" font-size: 75%; width: 100%; table-layout: fixed; color: linear-gradient(#aaa, transparent);">
                <colgroup>
                    <col style="width: 45%;">
                    <col style="width: 45%;">
                    <col style="width: 10%;">
                </colgroup>
                <tbody></tbody>
            </table>
            <input type="hidden" name="category" value="console">
        </form>
    </div>


    <!--script>
    $('.guiding-display-grid').ready(function(){
        //let width = $('#view-size-helper').width();
        //let height = $('#view-size-helper').height();
        //let dim = width < height ? width:height;
        dim -= 200;
        $('#guiding-display-grid').css({"height": ""+dim.toString() + "px"});
        var width = $('#guide-container-primary').width();
        var swidth = $('#guide-container-top').width();
        JS9.ResizeDisplay(width,width, {display: 'guideview-primary'});
        JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-top'});
        JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-bottom'});
        JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-left'});
        JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-right'});

        JS9.Preload('static/images/555wmos.fits', {display: "guideview-primary" });
        $(window).resize(function(){
            width = $('#guide-container-primary').width();
            swidth = $('#guide-container-top').width();
            JS9.ResizeDisplay(width,width, {display: "guideview-primary"});
            JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-top'});
            JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-bottom'});
            JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-left'});
            JS9.ResizeDisplay(swidth,swidth, {display: 'guideview-right'});
        })
    });
    </script-->
    <style>
        /*
        .guiding-display-grid {
            display: grid;
            grid-template-columns: repeat(7, 4.5vw);
            grid-template-rows: repeat(7, 4.5vw);
            overflow:hidden;
            min-height:0;
            min-width:0;
            grid-gap: 10px;
            padding: 10px;
            border: #555 solid 2px;
        }
        .guiding-display-grid #guide-container-primary {
            grid-column: 2/7;
            grid-row: 2/7;
            overflow:hidden;
            min-width:0;
            border: #555 solid 2px;
        }

        .guiding-display-grid #guide-container-top {
            grid-column: 4/5;
            grid-row: 1/2;
            overflow:hidden;
            min-width:0;
            border: #555 solid 2px;
        }
        .guiding-display-grid #guide-container-bottom {
            grid-column: 4/5;
            grid-row: 7/8;
            overflow:hidden;
            min-width:0;
            border: #555 solid 2px;
        }
        .guiding-display-grid #guide-container-left {
            grid-column: 1/2;
            grid-row: 4/5;
            overflow:hidden;
            min-width:0;
            border: #555 solid 2px;
        }
        .guiding-display-grid #guide-container-right{
            grid-column: 7/8;
            grid-row: 4/5;
            overflow:hidden;
            min-width:0;
            border: #555 solid 2px;
        }
        */
    </style>
</div>