
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    line-height: 22px;
}

 :root {

    --background: #222;
    --text: #ccc;
    --formtext: #111;
    --menu1: #0e003c;
    --menu2: #1d003c;
    --menu3: #2c003c;
    --inputs: #fff;
    --header: #282828;

    --neutral-1: #111;
    --neutral-2: #222;
    --neutral-3: #333;
    --neutral-4: #444;
    --neutral-5: #555;
    --neutral-6: #666;
    --neutral-7: #777;
    --neutral-8: #888;
    --neutral-9: #999;
    --neutral-a: #aaa;
    --neutral-b: #bbb;
    --neutral-c: #ccc;
    --neutral-d: #ddd;
    --neutral-e: #eee;
    --neutral-f: #fff;

 }




.hidden {
    display: none !important;
}

input[type="text"] {
    padding-left: 5px;
}


input, select {
    background-color: var(--inputs, #fff);
    color: var(--formtext, #000);
    border: 1px var(--neutral-6) solid;
    outline: 1px var(--neutral-6);
}

body {
    background-color: var(--neutral-2);
    font-family: Helvetica;
    color: var(--neutral-c);
    overflow:auto;
    overflow-x: hidden;
}

.header {
    grid-area: header;
    background: var(--header, #282828);
}
.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(70vh);
    overflow-y:auto;
    overflow-x: hidden;
}
.controls {
    grid-area: controls;
    overflow-y: scroll;
    /* scrollbars for firefox */
    scrollbar-color: var(--neutral-a) var(--neutral-4);
}
/* Scroll bars for chrome/safari/opera */
.controls {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
.controls::-webkit-scrollbar-track { background: var(--neutral-4); }
.controls::-webkit-scrollbar-thumb { background: var(--neutral-a); }

.scroll-icons {
    grid-area: scroll-icons;
    /* display: none to prevent magin bug, see .scroll-icons in the media query below. */
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
    margin-left: 5px;
}


.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "info"
        "controls";
}

@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 40px;
        grid-template-rows: 100px calc(100vh - 100px);
        height: 100vh;
        grid-template-areas:
            "header header header"
            "info controls scroll-icons";
    }
    .info {
        overflow: hidden;
        height: calc(100vh - 100px);
    }
    /* Only display if not mobile version. Otherwise, small displays have unwanted right margin. */
    .scroll-icons {
        display: flex;
    }
}


/* Registration Form */
.register-form {
    grid-row: 2/3;
    grid-column: 1/4;

    display: flex;
    flex-direction: column;

    margin: 30px;
}
.register-form form {
    align-self: center;
    padding: 20px;
    border: var(--neutral-8) 1px solid;
}
.register-form input {
    width: 200px;
    margin: 10px;
    align-self: center;
}
.register-form label {
    margin: 10px;
    align-self: center;
}


/* Info Panel (left half of page) */
.statusbar {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: var(--neutral-6) 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     
}
.statusbar td {
    text-align: center;
}
.statusbar .tablebuffer {
    width: 10%;
}

.views {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    height: calc(100% - 200px);
}
.views > .views-menu {
    border-bottom: var(--neutral-5) 3px solid;
    display: flex;
    overflow: hidden;
}
#viewtab5 h3,
.js-tabs {
    list-style: none;
    color: var(--neutral-8);
    text-align: right;
}
.js-tabs li {
    background: var(--neutral-3);
    font: 14px/1 'Open Sans', sans-serif;
    color: var(--neutral-a);
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.js-tabs li:hover {
    background: var(--neutral-4);
    cursor: pointer;
}
.js-tabs li.current {
    background: var(--neutral-5);
    color: var(--neutral-f);
}
.tabs-content {
    width: inherit;
    height: inherit;
    display: none;
}
.tabs-content.current{
    display: block;
    object-fit: contain;
}



/* Module Styles */

.module {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: var(--neutral-4) 2px solid;
    margin-bottom: 40px;
}
.module .module-head {
    height: 70px;
    background-color: var(--neutral-4);
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.module .head-title {
    font: 14px/1 'Helvetica', sans-serif;
    width: 140px;
    margin: 5px;
    padding-left: 1.5em;
    white-space: nowrap;
}
.module .head-inputs form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--neutral-1);
    width: 100%;
    padding-right: 1.5em;
}
.module .head-inputs input {
    padding-left: 5px;
    width: 100%;
}
.module .head-inputs label {
    color: var(--neutral-d);
    margin-bottom: 15px;
}
.module .head-inputs .head-input-item {
    flex: 1 1 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    height: 35px;
}
.module .module-body {
    height: auto;
    overflow: hidden;
    background-color: var(--neutral-3);
    transition: 0.3s ease-out;
}
.module .module-body input[type='text'] {
    width: 100%;
}
.module .module-body .module-body-wrapper {
    padding: 4px;
    margin: 20px;
}
.module-body-wrapper li {
    background: var(--header, #252525);
    font: 14px/1 'Open Sans', sans-serif;
    color: var(--neutral-a);
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.module-body-wrapper li:hover {
    cursor: pointer;
}
.module-body-wrapper li.active {
    background: var(--neutral-4);
    color: var(--neutral-f);
}


/* Scroll Icons */
.scroll-icons .scroll-button, .scroll-button-false {
    background-color: rgb(90, 1, 1);
    border: rgb(121, 0, 0) 3px solid;
    border-right: none;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 7px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.scroll-icons a {
    color: var(--text);
    outline: 0;
    text-decoration: none;
}


/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color:var(--neutral-f);
    border: thin rgba(0, 0, 0, .25) solid;
}
