
<div class="module">
    <div class="module-head">
        <div class="head-title">
            <h1><span style="transition:0.5s;">&#9660;</span> &nbsp;Batch Imaging</h1>
        </div>
        <div class="head-inputs">
            <form action="/command/batch-camera" id="batch-form" method="POST" class="form-command" autocomplete="off">
                <div class="head-input-item">
                    <button class="btn btn-outline-success">Start</button>
                </div>
            </form>
        </div>
    </div>

    <div class="module-body">
        <div class="module-body-wrapper">
            <div class="form-group" id="batch-camera-form">

                <div style="display: flex">
                    <fieldset style="padding-right: 8px;">
                        <label for="batch-autofocus">Autofocus: </label>
                        <select class="form-control" form="batch-form" name="autofocus" id="batch-autofocus" style="max-width: 200px;">
                            <option value="per-image">before each image</option>
                            <option value="per-filter">when filter changes</option>
                            <option value="time-30">every 30 minutes</option>
                            <option value="time-60">every 60 minutes</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="batch-position-angle">Position Angle: </label>
                        <input type="text" class="form-control" form="batch-form" name="position-angle" id="batch-position-angle" value="0" style="max-width: 75px;">
                    </fieldset>
                </div>

                <hr>

                <table id="batch-camera-table">
                    <thead>
                        <tr>
                            <th>Time(s)</th>
                            <th>Count</th>
                            <th>Delay(s)</th>
                            <th>Filter</th>
                            <th>Bin</th>
                            <th>Dither</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="batch-row" data-rowid="0">
                            <td style="min-width: 60px;">
                                <input autocomplete="off" class="form-control" form="batch-form" name="time-0" required="" type="text" value="5">
                            </td>
                            <td style="min-width: 50px;">
                                <input autocomplete="off" class="form-control" form="batch-form" name="count-0" type="text" value="1">
                            </td>
                            <td style="min-width: 70px;">
                                <input autocomplete="off" class="form-control" form="batch-form" name="delay-0" type="text" value="0">
                            </td>
                            <td style="min-width: 80px;">
                                <select autocomplete="off" class="form-control" form="batch-form" name="filter-0">
                                    <option value="PL">Clear</option><option value="PR">Red</option>
                                    <option value="PG">Green</option><option value="PB">Blue</option>
                                    <option value="S2">S2</option><option value="HA">Hα</option>
                                    <option value="O3">O3</option><option value="N2">N2</option>
                                </select>
                            </td>
                            <td style="min-width: 60px;">
                                <select autocopmlete="off" class="form-control" form="batch-form" name="bin-0">
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                            <td style="min-width: 70px;">
                                <select autocomplete="off" class="form-control" form="batch-form" name="dither-0">
                                    <option selected="" value="off">off</option>
                                    <option value="on">on</option>
                                    <option value="random">random</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="batch-add-row-button"><td><button class="btn btn-small btn-primary" id="add-another-batch-row" style="height: 30px;">+ row</p></td></tr>
                    </tbody>
                </table>
                        

            </div>
        </div>
    </div>
</div>





<script>

/* TODO: change class when adding rows so each row is uniquely identified. */
    var bottom_button = $('#batch-add-row-button');

    // Row counter: each row has a data attribute with a unique number so they can be distinguished by the server.
    var number_batch_rows = 1; 

    $('#add-another-batch-row').click(function(){
        // Select the bottom row to duplicate
        var batch_row = $('.batch-row').last();
        var cloned_row = batch_row.clone();
        
        // Add the row right above the "add row" button.
        cloned_row.insertBefore(bottom_button);
        var added_row = $('.batch-row').last();
        added_row.attr('data-rowid',number_batch_rows);

        // Each input element should have its name followed by '-x' where x is the row number.
        // For example: name="count-1"
        added_row.children().children().each(function() {
            $(this).attr("name", $(this).attr('name').split('-')[0]+'-'+String(number_batch_rows))
        });

        // Increment the row counter
        number_batch_rows += 1;

    })

</script>



<style>
.batch-row {
    width: 100%;
}
.batch-row td {
    padding-right: 8px;
    padding-bottom: 12px;
}
#batch-table-bottom {
    cursor: pointer;
}
@media (max-width: 475px){
    .batch-row {
        overflow: auto;
    }
}
</style>