
<div class="module" id="module1">
    <div class="module-head">
        <div class="head-title">
            <h1><span style="transition:0.5s;">&#9660;</span> &nbsp;Settings</h1>
        </div>
        <div class="head-inputs">
            <form id=camerasettings action="/command/camera" method="POST" class="form-command" autocomplete="off">
                {{ cameraform.hidden_tag() }}
                <div class="head-input-item">
                    {{ cameraform.capture(class_="btn btn-outline-success") }}
                </div>
            </form>
        </div>
    </div>

    <div class="module-body">
        <div class="module-body-wrapper">
            <div class="form-group" id="camera-commands">

                <div class="card camera-card">
                    <div class="card-header">Camera</div>
                    <div class="card-body" id="camera-tab-content">
                        <fieldset class="camera-field">
                            {{ cameraform.time.label }}
                            {{ cameraform.time(form="camerasettings", autocomplete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.count.label }}
                            {{ cameraform.count(form="camerasettings", autocomplete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.delay.label }}
                            {{ cameraform.delay(form="camerasettings", autocomplete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.filter.label }}
                            {{ cameraform.filter(form="camerasettings", autocomplete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.bin.label }}
                            {{ cameraform.bin(form="camerasettings", autocopmlete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.dither.label }}
                            {{ cameraform.dither(form="camerasettings", autocomplete="off", class="form-control") }}
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.filename_hint.label }} 
                            {{ cameraform.filename_hint(form="camerasettings", autocomplete="off", class="form-control") }} </fieldset>
                        </fieldset>
                        <fieldset class="camera-field">
                            {{ cameraform.size.label }} 
                            {{ cameraform.size(form="camerasettings", autocomplete="off", class="form-control") }} </fieldset>
                        </fieldset>
                    </div>
                </div>

                <div class="card camera-card">
                    <div class="card-header">Focus</div>
                    <div class="card-body" id="focus-tab-content">
                        <span style="display: flex; justify-content:space-between">
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="focus" value="in">in</button> 
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="focus" value="out">out</button>
                        </span>
                        <span style="display: flex; justify-content:space-between">
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="focus" value="home">home</button>
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="focus" value="auto">auto</button>
                        </span>     
                        <fieldset><label for="focus_position_status">Current Focus</label><input type=text id="focus_position_status" readonly></fieldset>
                        <br>
                        <form class='form-command' action="/command/focus-specific">
                        <span style="display: flex; justify-content:space-between">
                            <fieldset><label for="focus_position">Set Focus:</label><input style="width: 70%;" name="focus_val" type=text id="focus_position"></fieldset>
                            <button class="btn btn-small btn-secondary">Go to focus</button>
                        </span>
                        </form>
                    </div>
                </div>

                <div class="card camera-card">
                    <div class="card-header">Rotate</div>
                    <div class="card-body" id="rotate-tab-content">
                        <span style="display: flex; justify-content:space-between">
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="rotate" value="in">in</button> 
                            <button style="width: 45%;" class='btn btn-small btn-secondary button-command' data-msg="rotate" value="out">out</button>
                        </span>
                        <span style="display: flex; justify-content:space-between">
                            <button style="width: 45%;" class='btn btn-small btn-secondary'></button> 
                            <button style="width: 45%;" class='btn btn-small btn-secondary'></button>
                        </span>
                        <fieldset><label for="position_angle_status">Current Position Angle</label><input type=text id="position_angle_status" readonly></fieldset>
                        <br>
                        <form class='form-command' action="/command/rotate-specific">
                        <span style="display: flex; justify-content:space-between">
                            <fieldset><label for="position_angle_status">Set Angle:</label><input style="width: 70%;" name="pa_val" type=text id="position_angle_status"></fieldset>
                            <button class="btn btn-small btn-secondary">Rotate</button>
                        </span>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<style>

.camera-card {
    margin-bottom: 20px;
}

#camera-commands {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 4fr 2fr 2fr;
    grid-template-rows: 1fr;
}
#camera-tab-content {
    display: flex;
    flex-wrap: wrap;
}
.camera-field {
    width: 100px;
    margin: 5px;
}
#focus-tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
#rotate-tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* Small Screens */
@media (max-width: 600px) {

    #camera-commands {
        display: flex;
        flex-direction: column;
    }
    #focus-tab-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    #rotate-tab-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }


}

</style>