<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <style>
        body{
            background-color: #222;
            color: #aaa;
         }
     </style>
    <div style="display: flex; width: auto;">

        <div class="container" style="flex-basis: 800px; position: relative; border: solid #333 3px;">
            <div id="static-state" data-lat=34 data-lon=-119></div>
            <div class="container" id="celestial-map"></div>
            <div class="container" id="celestial-form" style="display:none;"></div>
        </div>


        <div style="flex-grow: 1; width: auto; border: solid #333 3px;">
            <div id="go-table">
                <table id="targets-table1">
                    <thead>
                        <tr>
                            <td>M</td>
                            <td>Type</td>
                            <td>Mag</td>
                            <td>Ra</td>
                            <td>De</td>
                            <td>Names</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div id="go-filters" class="container">
                    <div>
                        <form id='filter_form' method="POST" action="/apply_table_filters">

                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="galaxies">
                              <span class="mdl-switch__label">Galaxies</span>
                              {{ filter.galaxies(class_="mdl-switch__input") }}
                            </label>

                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="nebula">
                              <span class="mdl-switch__label">Nebula</span>
                              {{ filter.nebula(class_="mdl-switch__input") }}
                            </label>

                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="globular_clusters">
                              <span class="mdl-switch__label">Globular Clusters</span>
                              {{ filter.globular_clusters(class_="mdl-switch__input") }}
                            </label>

                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="open_clusters">
                              <span class="mdl-switch__label">Open Clusters</span>
                              {{ filter.open_clusters(class_="mdl-switch__input") }}
                            </label>

                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="everything_else">
                              <span class="mdl-switch__label">Everything Else</span>
                              {{ filter.everything_else(class_="mdl-switch__input") }}
                            </label>

                        </form>
                    </div>
                    <!--div>
                        <input type="checkbox" name="stars" id="stars-check">
                        <label for="stars-check">Stars</label><br>
                        <input type="checkbox" name="open-clusters" id="open-clusters-check">
                        <label for="open-clusters-check">Open Clusters</label><br>
                        <input type="checkbox" name="globular-clusters" id="globular-clusters-check">
                        <label for="globular-clusters-check">Globular Clusters</label><br>
                        <input type="checkbox" name="galaxies" id="galaxies-check">
                        <label for="galaxies-check">Galaxies</label><br>
                        <input type="checkbox" name="nebula" id="nebula-check">
                        <label for="nebula-check">Nebulae</label><br>
                    </div>
                    <div>
                        <input type="checkbox" name="ngc" id="ngc-check">
                        <label for="ngc-check">NGC</label><br>
                        <input type="checkbox" name="messier" id="messier-check">
                        <label for="messier-check">Messier</label><br>
                        <input type="checkbox" name="caldwell" id="caldwell-check">
                        <label for="caldwell-check">Caldwell</label><br>
                    </div>
                    <div>
                        <button class="btn btn-small" id="mag<6filter">Mag < 6</button>
                        <button class="btn btn-small">Landolt Stars</button>
                        <button class="btn btn-small">Near Zenith</button>
                    </div-->
                </div>
            </div>
        </div>
    </div>

    <div style="width: auto; padding: 1em; border: #999 3px solid; display: flex;">
        <form action="/addtodatabase" method="POST">
            <table>
                <tr>
                    {% for field in dbform %}
                    <td> {{ field.label() }} </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in dbform %}
                    <td> {{ field(style="width: 125px;") }} </td>
                    {% endfor %}
                </tr>
            </table>
            <button type=submit>add to database</button>
        </form>
        <!--div>
            <table>
                <tr>
                    <td> ID </td>
                    <td> Name </td>
                    <td> Magnitude </td>
                </tr>
            {% for entry in database %}
                <tr>
                    <td> {{ entry.id }} </td>
                    <td> {{ entry.name }} </td>
                    <td> {{ entry.mag }} </td>
                </tr>
            {% endfor %}
            </table>
        </div-->
    </div>


    <script>
        $(document).ready(function(){


            var table1 = $('#targets-table1').DataTable({
                processing: true,
                searching: false,
                serverSide: true,
                deferRender: false,
                //paging: false,
                compact: true,
                responsive: true,
                scrollY: "calc(75vh - 300px)",
                //scroller: true,
                scroller: { loadingIndicator: true },
                select: true,
                stateSave: false,
                ajax: "/tablelookup1",
                columnDefs: [{
                    targets: [3, 4],
                    render: $.fn.dataTable.render.number(',', '.', 2)
                },{
                    targets: [5],
                    width: "130px"
                }]
                //oSearch: { "sSearch": "M" },
            });


            /* Respond to row click
            $('#targets-table').on("click", 'tr', function() {
                var ra = table.row(this).data()[3];
                var de = table.row(this).data()[4];
                SkyMap.update_pointer(ra, de);
                UI.target_clicked(ra, de);
            } );*/
            table1.draw();

            $(function() {
                $('#filter_form').children().on('change', submit_filter);
            });


        function submit_filter(e) {
            e.preventDefault();
            var form = $('#filter_form');
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    console.log(data);
                    table1.draw();
                },
                error: function(data) {
                    console.log('failed to apply filter to table');
                }
            });
        };
    });
    </script>




    <script type="text/javascript" src="static/mapdata/custom_objects.json"></script>

    <link rel="stylesheet" href="https://ofrohn.github.io/celestial.css">
    <link rel="stylesheet" type="text/css" href="static/css/datatables.css">

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/cr-1.5.0/kt-2.4.0/r-2.2.2/rg-1.0.3/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
    <script type="text/javascript" src="static/utilities.js"></script>

    <script type="text/javascript" src="static/d3.js"></script>
    <script type="text/javascript" src="static/d3.geo.projection.min.js"></script>
    <script type="text/javascript" src="static/celestial.js"></script>
    <script src="https://d3js.org/d3-drag.v1.min.js"></script>
    <script type="text/javascript" src="static/skymap.js"></script>

    <script type="text/javascript" src="static/userinterface.js"></script>
    <script type="text/javascript" src="static/ajax_submit.js"></script>
    <script type="text/javascript" src="static/receive_state.js"></script>
</body>
